body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #fdf6f0, #f3e7ff);
}
/* NAVBAR */
.navbar {
  background: #131921;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  height: 45px;
}

/* SEARCH */
.search-bar {
  text-align: center;
  padding: 30px;
}

.search-bar input {
  width: 50%;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
}

/* CARD */
.card {
  background: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 8px;
}

.card h4 {
  margin: 10px 0 5px;
}

.card p {
  color: gray;
  margin: 0;
}

.card h3 {
  margin: 8px 0;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #ff9900;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.card button:hover {
  background: #e68a00;
}

/* CART & LOGIN */
.cart, .login {
  padding: 50px;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.login input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* FOOTER */
footer {
  background: #232f3e;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
.whatsapp-btn {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

.whatsapp-btn:hover {
  background-color: #1ebe5d;
}
.search-container {
  text-align: center;
  margin-top: 30px;
}

.search-bar {
  width: 50%;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.search-bar:focus {
  border-color: #d63384;
  box-shadow: 0 4px 15px rgba(214,51,132,0.3);
}

.main-title {
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
  font-weight: 600;
  color: #800020;
}
